# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

AI/_ThottilAI/__pycache__
AI/_ThottilAI/thottil
AI/chatbot/__pycache__
AI/dietplan/__pycache__
AI/dietplan/imgs_for_name_map_csv
AI/thottilAI/thottil
AI/thottilAI/__pycache__
AI/dietplan